* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 1754px;
  width: 1240px;
  padding: 10px;
  font-family: "Ubuntu", sans-serif;
}

h2 {
  color: rgb(37, 107, 155);
  margin-bottom: 5px;
  font-size: 2rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: 300;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 18%;
  width: 90%;
  padding: 30px 20px 10px 0;
  margin-top: 2vh;
}
.header__photo {
  height: 270px;
  width: 270px;
  margin-left: 10px;
  border-radius: 50%;
  overflow: hidden;
}
.header__photo .photo {
  margin-top: -20px;
  height: 370px;
}
.header__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 40px;
  height: 240px;
  margin-top: 50px;
}
.header__title {
  font-size: 3rem;
}
.header__subtitle {
  font-size: 1.5em;
}
.header__location {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}
.header__location .location-icon {
  height: 1.5rem;
  width: 1.5rem;
  background-image: url("../assets/location.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 5px;
}
.header__personal {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 15px;
}
.header__personal a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5px;
}
.header__personal div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.header__personal .personal__phone-icon {
  height: 1.5rem;
  width: 1.5rem;
  background-image: url("../assets/phone_icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 5px;
}
.header__personal .personal__mail-icon {
  height: 1.5rem;
  width: 1.5rem;
  background-image: url("../assets/email_icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 5px;
}
.header__personal .personal__linkedin-icon {
  height: 1.5rem;
  width: 1.5rem;
  background-image: url("../assets/linkedin-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 5px;
}
.header__personal .personal__github-icon {
  height: 1.5rem;
  width: 1.5rem;
  background-image: url("../assets/github-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 5px;
}
.header__personal .personal__location-icon {
  height: 1.5rem;
  width: 1.5rem;
  background-image: url("../assets/location.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 5px;
}

.about-me {
  margin: 20px 20px 0 20px;
  padding: 20px 0 20px 0;
  height: 15%;
  width: 90%;
  border-top: 2px solid rgb(92, 174, 228);
  border-bottom: 2px solid rgb(92, 174, 228);
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 46%;
  width: 90%;
  border-bottom: 2px solid rgb(92, 174, 228);
}
.box__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 35%;
  padding: 20px 0;
  border-right: 2px solid rgb(92, 174, 228);
}
.box__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 90%;
  width: 65%;
  padding: 20px 0;
}

.education {
  width: 100%;
}
.education__knowledge {
  margin-bottom: 1.5vh;
}
.education__knowledge .knowledge__working-period {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: rgb(92, 174, 228);
}
.education__knowledge .knowledge__title {
  font-weight: 800;
  margin-bottom: 5px;
}
.education__knowledge .knowledge__center {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.experience {
  padding: 0 15px;
  height: 40%;
  width: 90%;
}
.experience .company__working-period {
  font-size: 1.2rem;
  margin-bottom: 4px;
  color: rgb(92, 174, 228);
}
.experience .company__name {
  font-weight: 800;
}
.experience .company__job-title {
  font-size: 1.3rem;
  margin-bottom: 4px;
}
.experience .company__txt {
  margin-bottom: 10px;
}

.languages {
  height: 19%;
  width: 100%;
  border-top: 2px solid rgb(92, 174, 228);
  margin: 1vh 0 1vh 0;
  padding-top: 1vh;
}

.skills {
  height: 30%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid rgb(92, 174, 228);
  margin-top: -2px;
}
.skills__title {
  align-self: flex-start;
}
.skills__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1.5vh;
}
.skills__box figure {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 50px;
  height: 65px;
  margin: 30px 30px;
}
.skills__box figure img {
  width: 80px;
  height: 72px;
}
.skills__box figure figcaption {
  width: 80px;
  height: 26.6666666667px;
  font-size: 1.4rem;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.footer__print-button {
  height: 4vh;
  width: 8vw;
  border-radius: 1vh;
  color: red;
  outline: 2vmin solid rgba(0, 0, 0, 0.281);
  display: none;
  font-size: 1.5rem;
  margin-bottom: 3vh;
  cursor: pointer;
}
.footer__print-button:hover {
  outline: 2vmin solid rgba(0, 0, 0, 0.788);
  color: white;
  background-color: rgb(4, 199, 4);
}
.footer:hover .footer__print-button {
  display: block;
}/*# sourceMappingURL=style.css.map */