@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin size( $height, $width) {
    height: $height;
    width: $width;
}

$main-color: rgb(92, 174, 228);
$second-color: rgb(37, 107, 155);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    @include flex(column, flex-start, center);
    @include size( 1754px, 1240px);
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    // outline: 1px solid red;
}

h2 {
    color: $second-color;
    margin-bottom: 5px;
    font-size: 2rem
}

h3 {
    font-size:2rem;
}

p {
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none; 
    color:#000;
    font-weight: 300
}

.header {
    @include flex(row, flex-start, flex-start);
    @include size( 18%, 90% );
    padding: 30px 20px 10px 0;
    margin-top: 2vh;
    
    &__photo {
        @include size(270px, 270px);
        margin-left: 10px;
        border-radius: 50%;
        overflow: hidden;

        .photo {
            margin-top: -20px;
            height: 370px;
        }
    }

    &__main{
        @include flex(column, center, flex-start);
        padding-left: 40px;
        height: 240px;
        margin-top: 50px;
    }

    &__title {
        font-size: 3rem;
    }
    
    &__subtitle {
        font-size: 1.5em;
    }

    &__location {
        @include flex(row, flex-start ,center );
        margin-top: 10px;
        
        .location-icon {
            @include size (1.5rem, 1.5rem);
            background-image: url("../assets/location.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 5px;
        }
    }
    
    &__personal {
        @include size( 100%, 40%);
        @include flex(row, space-around, flex-start);
        margin-top: 15px;

        a {
            @include flex(row, flex-start, center);
            margin-left: 5px;
        }
        div {@include flex(row, flex-start, center);}

        .personal {
            
            &__phone-icon {
                @include size (1.5rem, 1.5rem);
                background-image: url("../assets/phone_icon.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin-right: 5px;
            }
            
            &__mail-icon {
                @include size (1.5rem, 1.5rem);
                background-image: url("../assets/email_icon.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin-right: 5px;
            }

            &__linkedin-icon {
                @include size (1.5rem, 1.5rem);
                background-image: url("../assets/linkedin-icon.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin-right: 5px;
            }

            &__github-icon {
                @include size (1.5rem, 1.5rem);
                background-image: url("../assets/github-icon.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin-right: 5px;
            }

            &__location-icon {
                @include size (1.5rem, 1.5rem);
                background-image: url("../assets/location.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin-right: 5px;
            }
        }
    }
}

.about-skills-box {
    display: flex;
    margin-top: 100px;
}

.headerLine {
    width: 50px;
    height: 8px;
    background-color: $main-color;
    align-self: flex-start;
    margin: 2px;
}

.about-me {
    margin: 0 20px 0 40px;
    padding: 0 0 20px 0;
    @include size( 15%, 90% ); 
    // border-top: 2px solid $main-color;
    // border-bottom: 2px solid $main-color;

    &__txt {
        width: 95%;
    }
}


.skills {
    // @include size(30%, 90%);
    @include flex( column, center, center);
    // height: 100%;
    width: 100%;
    // border-top: 2px solid $main-color;
    // margin-top: -2px;

    &__title {
        align-self: flex-start;
    }

    &__box {
            @include flex (row, space-between, space-between);
            flex-wrap: wrap;
            width:100%;
            margin-top: 1.5vh;

            figure {
                @include flex(column, flex-end, center);
                width: 40px ;
                height: 65px;
                margin: 30px 30px;
                
                img {
                    width: 40px;
                    height: 36px;
                }
                
                figcaption {
                    // color: red;
                    width: 80px;
                    height: calc(80px / 3);
                    font-size: 1rem;
                    // margin-top: 10px;
                    @include flex (column, center, center)
                    // text-align: center;
                }
            }
    }
}

.box {
    @include flex (row, flex-start, flex-start);
    @include size (46%, 90%);
    // border-bottom: 2px solid $main-color;

    
    &__left {
        @include flex (column, space-between, flex-start);
        @include size (100%, 35%);
        padding: 20px 0;
        border-right: 2px solid $main-color;
    }
    
    &__right {
        @include flex (column, flex-start, flex-start);
        @include size (90%, 65%);
        padding: 20px 0;
    }
}

.education {
    width: 100%;
    
    &__knowledge {
        margin-bottom:1.5vh;
        
        .knowledge {
            
            &__working-period{
                font-size: 1.2rem;
                margin-bottom: 5px;
                color: $main-color;
            }
            
            &__title {
                font-weight: 800;
                margin-bottom: 5px;
            }
            
            &__center {
                font-size: 1.2rem;
                text-transform: uppercase;
            }
        }
    }
}

.experience {
    padding: 0 15px;
    @include size( 40%, 90% );
    
    .company {
        &__working-period {
            font-size: 1.2rem;
            margin-bottom: 4px;
            color: $main-color;
        }
        
        &__name {
            // font-size: 1.5rem;
            font-weight: 800;
            // margin-bottom: 2px;
        }
        
        &__job-title {
            font-size: 1.3rem;
            margin-bottom: 4px;
        }
        
        &__txt {
            margin-bottom: 10px;
        }
    }
    
    
}

.languages {
    @include size( 19%, 100% );    
    // border-top: 2px solid $main-color;
    margin: 1vh 0 1vh 0;
    padding-top: 1vh;
}
    
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 80vh;
    width: 100vw;
    @include flex(row, center, flex-end);
    display: none;  // hide while dev

    &__print-button {
        height: 4vh;
        width: 8vw;
        border-radius: 1vh;
        color: red;
        outline: 2vmin solid rgba(0, 0, 0, 0.281);
        display: none;
        font-size: 1.5rem;
        margin-bottom: 3vh;
        cursor: pointer;

        &:hover {
            outline: 2vmin solid rgba(0, 0, 0, 0.788);
            color: white;
            background-color: rgb(4, 199, 4);            
        }
    }
    
    &:hover {
        .footer__print-button {
            // color: yellow;
            display: block;
        }
    }
}